//colors
$blue: #17659E;
$green: #228A7E;
$black: #333;
$white: #f8f8f8;

//font
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$main-font: 'Raleway', sans-serif;

body, button, input, select, textarea {
  font-family: $main-font;
}

//change color of background of nav
section.section:first-child {
  background-color: $black;
}

.nav {
  display: block;
  background-color: transparent;
  text-align: left;

  h1.title {
    color: $white;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-size: 32px !important;
    white-space: nowrap;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    font-family: $main-font;
    
    &:hover {
      animation: logo 2s infinite;
      -webkit-animation: logo 2s infinite;
      -moz-animation: logo 2s infinite;
      -o-animation: logo 2s infinite;
    }
  }

  ul.main-menu {
    width: 100%;
    text-align: left;
    margin: 1em 0;

    li {
      display: inline-block;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 1.2rem;
        font-weight: 500;
        color: $white;
        font-family: $main-font;
        letter-spacing: 1px;
        border: 1px solid rgba(0,0,0,0);
        transition: all 0.2s ease;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .nav-item.level.is-mobile {
    display: block;
    text-align: left;
    padding: 0;

    a.level-item {
      margin: 0 1em 0 0;

      span i {
        color: darken($white,10%);

        svg {
          width: 1.5em !important;
          height: 1.5em !important;
          transition: all 0.2s ease;
        }
      }

      &:hover {
        span i svg {
          transform: scale(1.1);
        }
      }
    }
  }

  a.nav-item {
    padding: 0;
    height: 100%;
    display: inline-block;
  }
}

h1.title {
  color: $black;
  font-weight: 700;
}

.content {
  h1 {
    font-size: 34px !important;
    font-weight: 700 !important;
    font-family: $main-font;
    color: lightseagreen !important;
  }

  h2, h3, h4, h5, h6 {
    color: $black;
    font-weight: 500;
    font-family: $main-font;
  }

  h3 {
    margin-top: 60px !important;
  }

  p {
    color: #454545 !important;
  }

  blockquote {
    background: transparent !important;
    border-left: 3px solid #666;
  }

  img {
    border-radius: 8px;
  }

  .button {
    border: none;
  
    &:focus, &:active {
      border: none;
    }
  }
  
  .button.is-link:focus, .button.is-link:hover {
      background-color: transparent;
  }
}

// .butts {
//   width: 20px;
//   height: 20px;
//   background-color: blue;
// }


//keyframes for logo hover animation
@keyframes logo {
  0% {
    color: teal;
  }

  10% {
    color: salmon;
  }

  20% {
    color: skyblue;
  }

  30% {
    color: grey;
  }

  40% {
    color: orchid;
  }

  50% {
    color: royalblue;
  }

  60% {
    color: coral;
  }

  70% {
    color: dodgerblue;
  }

  80% {
    color: lightseagreen;
  }

  90% {
    color: plum;
  }
}

@-webkit-keyframes logo {
  0% {
    color: teal;
  }

  10% {
    color: salmon;
  }

  20% {
    color: skyblue;
  }

  30% {
    color: grey;
  }

  40% {
    color: orchid;
  }

  50% {
    color: royalblue;
  }

  60% {
    color: coral;
  }

  70% {
    color: dodgerblue;
  }

  80% {
    color: lightseagreen;
  }

  90% {
    color: plum;
  }
}

@-moz-keyframes logo {
  0% {
    color: teal;
  }

  10% {
    color: salmon;
  }

  20% {
    color: skyblue;
  }

  30% {
    color: grey;
  }

  40% {
    color: orchid;
  }

  50% {
    color: royalblue;
  }

  60% {
    color: coral;
  }

  70% {
    color: dodgerblue;
  }

  80% {
    color: lightseagreen;
  }

  90% {
    color: plum;
  }
}

@-o-keyframes logo {
  0% {
    color: teal;
  }

  10% {
    color: salmon;
  }

  20% {
    color: skyblue;
  }

  30% {
    color: grey;
  }

  40% {
    color: orchid;
  }

  50% {
    color: royalblue;
  }

  60% {
    color: coral;
  }

  70% {
    color: dodgerblue;
  }

  80% {
    color: lightseagreen;
  }

  90% {
    color: plum;
  }
}