$image_1: url('img/image_1.jpg');
$image_2: url('img/image_2.jpg');
$image_3: url('img/image_3.jpg');
$image_4: url('img/image_4.jpg');
$image_5: url('img/image_5.jpg');
$image_6: url('img/image_6.jpg');
$image_7: url('img/image_7.jpg');
$image_8: url('img/image_8.jpg');
$image_9: url('img/image_9.jpg');
$image_10: url('img/image_10.jpg');