//animation frames
@keyframes cycle {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  9% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
}

//cursor blink
@keyframes blink {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.8;
  }

  55% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}