//colors
$white: #f8f8f8;
$black: #333;
$primary: #0B9ED9;
$accent: #F25CA2;

$transition: all 0.3s ease;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//import images
@import 'images';

//normalize(ish)
* {
  box-sizing: border-box;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: $white;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  
  a {
    text-decoration: none;
  }

  &.page {
    overflow: scroll;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      max-width: 100%;
      height: 112px;
      background-color: darken($black,5%);
      display: block;
      z-index: -1;
      top: 155px;
      left: 0px;
    }

    @media (min-width: 825px) and (min-height: 525px) {
      &:after {
        width: calc(100vw - 220px);
        max-width: calc(100vw - 220px);
        height: 184px;
        top: 0px;
        left: 220px;
      }
    }
  }

  .anchor-link {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    position: relative;
    top: -20px;
  }
}

//header/sidebar
header {
  width: 100%;
  height: auto;
  background-color: $black;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    overflow: visible;
    visibility: visible;
    width: 200%;
    height: 100vh;
    display: block;
    position: absolute;
    top: -50vh;
    left: -50%;
    background: rgb(16,191,119);
    background: -moz-linear-gradient(90deg, rgba(16,191,119,1) 0%, rgba(4,148,189,1) 50%, rgba(168,26,129,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(16,191,119,1) 0%, rgba(4,148,189,1) 50%, rgba(168,26,129,1) 100%);
    background: linear-gradient(90deg, rgba(16,191,119,1) 0%, rgba(4,148,189,1) 50%, rgba(168,26,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10bf77",endColorstr="#a81a81",GradientType=1);
    z-index: 0;
    animation: rotate 45s infinite linear;
  }

  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px 12px 20px;
    position: relative;
    z-index: 1;

    .logo {
      margin-bottom: 35px;
      position: relative;
      left: -3px;

      a {
        font-family: 'Rubik', sans-serif;
        position: relative;
        font-size: 1.8rem;
        font-weight: 300;
        color: $white;
        transition: $transition;

        svg {
          transition: all 0.3s ease;
          width: 64px;
          height: 64px;

          g {
            fill: rgba($white,0.9);
            transition: all 0.5s ease;
          }
        }

        &:hover {
          color: lighten($primary,5%);

          svg {
            transform: rotate(-360deg);

            g {
              //fill: $primary;
            }
          }

          &:after {
            opacity: 0.8;
            width: 100px;
          }
        }
      }
    }

    @media (min-width: 825px) and (min-height: 525px) {
      padding: 20px 0 12px 0;
    }

    nav {
      position: relative;

      &#mobile {
        transition: all 0.3s ease;
        top: 0;

        &.active {
          top: -22px;
        }
      }

      &#desktop {
        display: none;

        @media (min-width: 825px) and (min-height: 525px) {
          display: block;
        }
      }

      .nav-group {
        margin: 0 20px 12px 0;
        display: inline-block;

        &#nav-group_mobile {
          margin: 0;

          @media (min-width: 825px) and (min-height: 525px) {
            display: none;
          }

          ul.nav {
            li {
              a {
                font-size: 1.4rem;
                font-weight: 300;
                font-family: 'Rubik',sans-serif;
              }

              ul.sub-nav {
                position: absolute;
                width: 120vw;
                top: 36px;
                opacity: 0;
                transition: all 0.3s ease;
                padding: 0px 0px 0px 40px;
                background-color: transparent;
                z-index: -1;
                left: -40px;

                li {
                  a {
                    font-family: monospace;
                    font-size: 1.2rem;
                    font-weight: normal;
                  }
                }

                &.active {
                  //top: -2px;
                  opacity: 1;
                }
              }
            }
          }
        }

        @media (min-width: 600px) {
          margin-right: 40px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        h3 {
          margin: 0 0 5px 0;
          font-family: 'Rubik', sans-serif;
          font-size: 1.4rem;
          color: whitesmoke;
        }
  
        ul.nav {
          list-style-type: none;
          margin: 0;
          padding: 0;

          &.mobile {
            height: auto;

            li {
              margin-right: 18px;

              &:last-of-type {
                margin-right: 0;
              }

              @media (min-width: 375px) {
                margin-right: 20px;

                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
          }
  
          li {
            margin: 0 10px 5px 0px;
            display: inline-block;

            @media (min-width: 825px) and (min-height: 525px) {
              display: block;
            }
  
            a {
              color: $white;
              font-family: monospace;
              font-size: 1.2rem;
              transition: $transition;
              position: relative;
  
              &:after {
                content: '';
                opacity: 0;
                transition: $transition;
                display: block;
                width: 0.6rem;
                height: 3px;
                background-color: $white;
                position: absolute;
                right: -0.8rem;
                bottom: 4px;
                transition: all 0.1s ease;
              }
  
              &:not(.no-hover):hover {
                color: $white;
  
                &:after {
                  opacity: 0.8;
                  animation: blink 1.25s infinite;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 825px) and (min-height: 525px) {
    &:after {
      height: 200%;
      width: 100vw;
      left: -50vw;
      top: -50%; 
    }
  }
}

.content {
  max-width: 900px;
  padding: 0 20px 60px 20px;
  margin: 0 auto;
  position: relative;
  top: 0px;

  &.gallery {
    max-width: none;
    top: -40px;

    @media (min-width: 825px) and (min-height: 525px) {
      top: -40px
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $white;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 50px;
    display: inline-block;
    font-size: 3em;
    letter-spacing: 0.05em;

    a {
      color: $primary;
      transition: all 0.3s ease;

      &:hover {
        color: $accent;
      }
    }

    @media (min-width: 825px) and (min-height: 525px) {
      margin-top: 100px;
    }

    &.sr-only {
      border: 0; 
      clip: rect(0 0 0 0); 
      height: 1px; 
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  h2, h3, h4, h5, h6 {
    color: $black;
    margin-top: 0;
    letter-spacing: 0em;
    font-size: 2.6em;

    @media (max-width: 599px) {
      font-size: 1.4em;
      margin-bottom: 20px;
    }

    @media (min-width: 600px) and (max-width: 767px) {
      font-size: 2.2em;
      margin-bottom: 30px;
    }
  }

  h3 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.4em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: $black;
    font-family: sans-serif;
    max-width: 900px;
    margin-top: 10px;

    a {
      color: $primary;
      transition: $transition;
      text-decoration: none;

      &:hover {
        color: $accent;
      }
    }
  }

  img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .gallery {
    width: 100%;
    display: block;
    margin-top: 60px;

    .gallery-image_container {
      width: 100%;
      height: 50vw;
      margin-bottom: 10px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      opacity: 1;
      z-index: 0;
      cursor: pointer;

      @media (min-width: 768px) {
        width: calc(50% - 8px);
        margin-right: 10px;
        height: 30vw;

        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }

      @media (min-width: 1400px) {
        width: calc(33% - 6px);
        height: 16vw;

        &:nth-of-type(2n) {
          margin-right: 10px;
        }

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }

      @media (min-width: 2500px) {
        width: calc(25% - 12px);
        height: 12vw;

        &:nth-of-type(2n) {
          margin-right: 10px;
        }

        &:nth-of-type(3n) {
          margin-right: 10px;
        }

        &:nth-of-type(4n) {
          margin-right: 0;
        }
      }

      &:hover {
        transform: scale(1.01);
        opacity: 0.9;
      }

      @media (orientation: landscape) {
        //height: 25vw;
      }

      img.thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .full-image_container {
      background-color: $white;
      width: 100%;
      height: calc(100vh - 38px);
      padding: 50px 20px;
      z-index: 5;
      transition: all 0.3s ease;
      opacity: 0;
      transform: scale(0);
      position: fixed;
      top: 0;
      left: 0;

      &.active {
        opacity: 1;
        transform: scale(1);
      }

      img.full-image {
        border-radius: 0px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
        //padding: 20px 38px;
      }

      &:after {
        content: 'X';
        color: $black;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        position: absolute;
        //top: 22px;
        top: 12px;
        font-size: 1.75rem;
        transform: scale(1,0.85);
        cursor: pointer;
      }

      @media (min-width: 825px) and (min-height: 525px) {
        width: calc(100% - 220px);
        left: 220px;
        height: 100vh;

        img.full-image {
          padding: 20px 38px;
        }

        &:after {
          top: 12px;
        }
      }
    }
  }
}

.image-cycle {
  width: 100%;
  height: calc(100vh - 166px);
  position: absolute;
  bottom: 40px;
  left: 0;
  background: $white;
  z-index: -1;

  .image-container {
    width: 100%;
    height: 100%;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    margin: 0 auto;
    background-image: $image_1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: $transition;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    &.two {
      background-image: $image_2;
    }

    &.three {
      background-image: $image_3;
    }

    &.four {
      background-image: $image_4;
    }

    &.five {
      background-image: $image_5;
    }

    &.six {
      background-image: $image_6;
    }

    &.seven {
      background-image: $image_7;
    }

    &.eight {
      background-image: $image_8;
    }

    &.nine {
      background-image: $image_9;
    }

    &.ten {
      background-image: $image_10;
    }

    &.active {
      opacity: 1;
    }
  }
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black,0.5);

  p {
    font-family: sans-serif;
    color: $white;
    opacity: 0.9;
    font-weight: 100;;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0 20px;
  }
}

@media (min-width: 825px) and (min-height: 525px) {
  header {
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    .container {
      max-width: calc(100% - 40px);

      nav {
        &#mobile {
          ul.nav.mobile {
            li {
              ul.sub-nav {
                width: 180px;
                top: 150px;

                li {
                  display: block;
                }
              }
            }
          }
        }
        
        ul.nav {
          li {
            display: block;
            margin: 0 10px 8px 0;
          }
        }
      }
    }
  }

  .content {
    width: calc(100% - 220px);
    max-width: 900px;
    position: relative;
    top: 0;
    left: 110px;
    right: auto;
    margin: 0 auto;
    //left: calc(50% + 110px);
    //transform: translateX(-50%);
  }

  .image-cycle {
    top: 0;
    left: auto;
    width: calc(100% - 220px);
    height: 100vh;
    right: 0;

    .image-container {
      top: 50%;
    }
  }

  .copyright {
    max-width: 220px;
  }
}

.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@import 'keyframes';